version: '3.8'
services:
  db:
    image: postgres:15-alpine
    container_name: hairone_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: hairone_db
      JWT_SECRET: production_secret_key_change_me
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
